
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{ ViewData["Title"] = "Index"; }


@if (HttpContextAccessor.HttpContext.Session.GetString("email") == null)
{


    <div class="container-fluid mt-198 w-80p">
        <div class="row row-bg-slider">
            <div class="col-md-7">
                <img src="~/img/slide-1.jpg" />
            </div>
            <div class="col-md-5">
                <div class="text-center valignc admin-text">
                    <h3>Admin Login</h3>
                    @if (ViewBag.LoginError != null)
                    {
                        <p class="text-danger">Enter Valid Credentials</p>}
                    <br />
                    <form asp-action="Login" method="get">
                        <input name="email" class="form-control" type="email" placeholder="Email" />
                        <br />
                        <input name="password" class="form-control" type="password" placeholder="Password" />
                        <br />
                        <input class="btn btn-primary" type="submit" value="Login" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome @HttpContextAccessor.HttpContext.Session.GetString("email")</h1>
        <p>
            To The Library of UWorld
            <br />
            <a href="https://localhost:44348/Books/GetListofBooks">GET STARTED</a>
        </p>
    </div>}