@model IEnumerable<Book>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "GetListofBooks";
}

<h1>List of Books</h1>

@if (HttpContextAccessor.HttpContext.Session.GetString("email") != null)
{ 
    <h1 class="d-flex justify-content-end">
        <a class="btn btn-primary font-weight-bolder " asp-action="AddBook">Add New Book</a>
    </h1>

}

<div class="image-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <a asp-action="GetBookById" asp-route-id=@item.BookId><img class="card-img-top" src=@Html.DisplayFor(modelItem => item.ThumbnailUrl) alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            </div>
        </div>
    }
</div>
